<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: update_user_intro_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, '使用者帳號' %><br />
    <div class="control">
      <%= f.text_field :username, class: "input" %>
    </div>
    <p class="help">範例：pikafan</p>
  </div>

  <div class="field">
    <%= f.label :avatar, '大頭照' %><br />
    <div class="control">
      <%= f.file_field :avatar %>
    </div>
    <%= avatar(current_user) %>
  </div>

  <div class="field">
    <%= f.label :intro, '個人簡介' %><br />
    <div class="control">
      <%= f.text_area :intro, class: "textarea", rows: 5 %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "更新", class: "button is-primary" %>
  </div>
<% end %>