<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, '使用者帳號' %><br />
    <div class="control">
      <%= f.text_field :username, class: "input" %>
    </div>
    <p class="help">範例：@pikafan</p>
  </div>

  <div class="field">
    <%= f.label :intro, '個人簡介' %><br />
    <div class="control">
      <%= f.text_area :intro, class: "textarea", rows: 5 %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email, '電子信箱' %><br />
    <%= f.email_field :email, autocomplete: "email", class: 'input' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, '新密碼' %> <i>(變更密碼專用）</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
    <% if @minimum_password_length %>
      <br />
      <p class="help">(<%= @minimum_password_length %> characters minimum)</p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, '確認新密碼' %><i>(變更密碼專用）</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
  </div>
  <br />

  <div class="actions">
    <%= f.submit "更新", class: "button is-primary" %>
  </div>
<% end %>
<hr>
<%= button_to "刪除帳號", registration_path(resource_name), data: { confirm: "永久刪除帳號?" }, method: :delete, class: "button is-danger is-small" %></p>

