<h1>當前文章</h1>

<div class="content">
    <div class="buttons">
      <h2 class="title">
        <%= @story.title %>
        <%= content_tag :span, '已發佈', class: 'tag is-primary' if @story.published? %>
        <%= content_tag :span, '未發佈', class: 'tag' if @story.draft? %>
        <%= content_tag :span, '草稿編輯中', class: 'tag' if @story.pending_story != nil %>
      </h2> 

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="is-hoverable navbar-link"></a>
        <div class="navbar-dropdown">
          <% if @story.pending_story != nil %>
            <%= link_to '編輯文章', edit_pending_story_path(@story), class: "navbar-item", data:{confirm: '已有正在編輯的草稿，是否繼續編輯？'} %>
          <% else %>
            <%= link_to '編輯文章', edit_story_path(@story), class: "navbar-item" %>
          <% end %>

          <div>
            <% if @story.published? %>
              <%= link_to '下架文章', unpublish_story_path(@story), method: 'post', class: "navbar-item", data:{confirm: '確認下架？'} %>
            <% else %>
              <%= link_to '刪除草稿', story_path(@story), method: 'delete', class: "navbar-item", data:{confirm: '確認刪除？'} %>
              <%= link_to '發布文章', publish_story_path(@story), method: 'post', class: "navbar-item" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <p><%= simple_format(@story.content).truncate(250) %></p>

    <p>
      創建時間：<%= @story.created_at.to_date %>，
      最後更新時間：<%= time_ago_in_words(@story.updated_at) %>前
    </p>
</div>


